html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  font-size: 16px;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 140% 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 2rem;
  color: #ddd;
  /* text-align: justify; */
}

small {
  font-size: 0.75rem;
  color: #ccc;
}

button {
  cursor: pointer;
}
